# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.env
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# Flask
*.log

# Docker
*.pid
*.sock
*.swp
.dockerignore

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.local
.env.*.local

# Misc
.DS_Store
